@use "../base/variables" as *;

.btn {
    text-transform: uppercase;
    border-radius: 8px;
    padding: 10px 32px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 2px;
    transition: all .4s ease;
    
    &--primary {
        color: white; 
        background: $radial-bg-gradient;
        border: 1px solid white;
        padding: 10px 36px;

        &:hover {
            color: #ec9e0e;
            border-color: #ec9e0e;
        }
    }

    &--secondary {
        background-color: white;
        color: #dc2e4e;

        &:hover {
            background-color: #dc2e4e;
            color: white;
        }
    }
}

.rules-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    @media(min-width: $md) {
        right: 50px;
        left: auto;
        transform: none;
        bottom: 0;
    }
}

