@use "../base/variables" as *;

header {
    padding: 0 15px;

    .header {
        border: 2px solid $headerOutline;
        border-radius: 6px;
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 94px;
    
        @media(min-width: $md) {
            padding: 0 35px;
            border-radius: 35px;
            margin-bottom: 78px;
        }
    
        h1 {
            color: white;
    
            span {
                display: block;
                text-transform: uppercase;
                line-height: 0.9;
    
            }
        }
    }
}

