@use "../base/variables" as *;

.tile {
    background-color: white;
    padding: 10px 25px;
    text-align: center;
    border-radius: 4px;

    @media(min-width: $lg) {
        padding: 20px 50px;
    }

    p {
        text-transform: uppercase;
        color: $scoreText;
        margin: 0;
        font-size: 10px;
        letter-spacing: 1px;

        @media(min-width: $md) {
            font-size: 16px;
            letter-spacing: 3px;
        }
    }

    h2 {
        margin: 0;
        color: $darkText;
    }
}